/* ESTILOS RESOLUCIÓN XXL 1400px */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

html {
    font-size: 62.5%;
}

body {
    background-color: #FFE9D0;
    margin: 0 4vw;
}

/* HEADER */

.logoH1{
    display: flex;
    align-items: flex-start;
    margin-top: 2vw;
}

.anclaH1{
    text-decoration: none;
}

.anclaH1 h1{
    font-size: 8rem;
    margin: 0 2vw;
    color: black;
}

.logo {
    background-image: url('../Multimedia/logoEA.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 7vw;
    height: 7vw;
}

nav{
    margin-bottom: 2vw;
}

.nav-item{
    margin-right: 1vw;
}

.nav-link{
    color: black;
    font-size: 3.5rem;
}

.nav-link:hover{
    color: #FF5400;
}

.botones{
    text-align: center;
    margin: 2vw 0;
}

.botones a{
    font-size: 3rem;
    padding: 0.5vw 1.5vw;
    border-radius: 20vw;
}

/* HOME */

#home {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 3%;
}

.home-palabras{
    margin-left: 3vw;
    font-family: 'Kanit', sans-serif;
    color: black;
}

.arte{
    color: #FF5400;
}

.home-palabras h2{
    font-size: 6rem;
}

.home-palabras p {
    font-size: 4rem;
}

.home-imagen img{
    width: 30vw;
}

/* BANNER */

#banner {
    margin-bottom: 3%;
}
.div-banner{
    display: flex;
    justify-content: center;
}

.carousel-item img{
    width: 100%;
}

/* Ejercicios */

#ejercicios {
    margin-bottom: 5%;
}

.div-h2-ejercicios {
    display: flex;
    justify-content: center;
}

.div-h2-ejercicios h2 {
    font-size: 6rem;
    margin-bottom: 2%;
    font-family: 'Kanit', sans-serif;
    color: #FF5400;
}

.cards-sub-container {
    margin-bottom: 3%;
}

.cards-sub-container h3 {
    font-size: 4rem;
    margin-bottom: 2%;
    font-family: 'Kanit', sans-serif;
    color: #FF5400;
}

.scroll-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.scroll-cards .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #283339;
    width: 16%;
    height: auto;
    border-radius: 20px;
    padding: 0.5% 1% 1% 1%;
}

.scroll-cards .card img {
    width: 90%;
    border-radius: 10px;
    padding: 8% 1% 0 1%;
    margin-bottom: 0.5vw;
}

.scroll-cards .card div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30%;
}

.scroll-cards .card div p {
    color: white;
    margin: 1.5% 0;
    font-size: 2rem;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    text-align: center;
}

/* ELONGACIÓN */

#elongacion {
    margin-bottom: 5%;
    background-image: url('../Multimedia/fondo-video.jpg');
    background-repeat: repeat;
    background-size:contain;
    background-position: center;
    padding: 2% 0 4% 0;
}

.div-elongacion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FF8100;
    font-family: 'Kanit', sans-serif;
}

.div-elongacion h2 {
    font-size: 6rem;
    background-color: black;
    padding: 1% 2%;
    border-radius: 20px;
}

.div-elongacion h3 {
    font-size: 4rem;
    margin-bottom: 3%;
    background-color: black;
    padding: 1% 2%;
    border-radius: 20px;
}

.div-iframe{
    display: flex;
    justify-content: center;
}

.div-iframe iframe{
    width: 50%;
    height: 60vh;
    border: 20px solid #FF8100;
}

/* ALIMENTACIÓN */

.div-h2-alimentacion {
    display: flex;
    justify-content: center;
    margin-bottom: 2%;
}

.div-h2-alimentacion h2 {
    font-size: 6rem;
    font-family: 'Kanit', sans-serif;
    color: #FF5400;
}

.div-h3-como,
.div-h3-comidas {
    margin-bottom: 1%;
    font-family: 'Kanit', sans-serif;
    color: #FF5400;
}

.div-h3-como h3,
.div-h3-comidas h3 {
    font-size: 4rem;
    margin-bottom: 2vw;
}

.div-p-como {
    margin-bottom: 2%;
}

.div-p-como p {
    font-size: 2.5rem;
    width: 40vw;
    font-family: 'Quicksand', sans-serif;
}

.alimentacion-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.alimentacion-card {
    width: 90vw;
    margin-bottom: 2%;
    padding-left: 5vw;
}

.alimentacion-card p {
    font-size: 2.5rem;
    width: 40vw;
    height: auto;
    font-family: 'Quicksand', sans-serif;
}

.alimentacion-card p span{
    font-family: 'Kanit', sans-serif;
    color: #FF5400;
}

.alimentacion-card-img{
    margin-left: 10vw;
}

.alimentacion-card-img img {
    height: 22vh;
}

/* RUTINAS */
#rutinas{
    margin: 2% 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div-h2-rutinas {
    display: flex;
    justify-content: center;
    margin-bottom: 2%;
}

.div-h2-rutinas h2 {
    font-size: 6rem;
    font-family: 'Kanit', sans-serif;
    color: #FF5400;
}

.p-rutinas{
    text-align: center;
    margin: 0 auto;
    font-size: 2.5rem;
    width: 40vw;
    font-family: 'Quicksand', sans-serif;
}

.div-rutinas{
    width: 60vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 2%;
    padding: 0 2%;
}

.div-rutinas img{
    width: 15vw;
}

.div-rutinas div{
    width: 15vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:2vw 1vw;
}

.div-rutinas div h3{
    font-size: 3rem;
    font-family: 'Kanit', sans-serif;
    color: #FF5400;
    margin-bottom: 2vw;
}

/* FOOTER */

footer{
    background-color: #283339;
    margin-top: 5%;
    padding: 3%;
}

.footer-arriba{
    font-family: 'Quicksand', sans-serif;
    font-size: 2.2rem;
    color: white;
}

.footer-arriba div li{
    margin-bottom: 1vw;
}

.footer-izquierda{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.fotoPerfil img{
    width: 15vw;
    padding-left: 2vw;
}

.form-control{
    width: 20vw;
    font-size: 2rem;
}

.btnCorreo{
    font-size: 2rem;
    margin-top: 2vw;
    padding: 0.5vw 1.5vw;
    border-radius: 10px;
}

.footer-redes{
    margin: 3vw 0;
}

.footer-redes p{
    font-family: 'Quicksand', sans-serif;
    font-size: 2.2rem;
    color: white;
}

.redes{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 1.5vw;
}

.redes li{
    margin-right: 2vw;
}

.redes img{
    height: 2.5vw;
    width: 2.5vw;
}

.redes .youtube-footer{
    width: 3vw;
}

/* MEDIA QUERIES */
/* RESOLUCIÓN XL 1400px a 1200px */
@media only screen and (max-width: 1400px){
    .anclaH1 h1{
        font-size: 6rem;
    }
    .nav-link{
        font-size: 3rem;
    }
    .home-palabras h2, .div-h2-ejercicios h2, .div-h2-alimentacion h2, .div-elongacion h2, .div-h2-rutinas h2{
        font-size: 5rem;
    }
    .home-palabras p{
        font-size: 3.5rem;
    }
    .cards-sub-container h3, .div-elongacion h3, .div-h3-comidas h3, .div-h3-como h3{
        font-size: 3.5rem;
    }
    .scroll-cards .card div p{
        font-size: 1.8rem;
    }
    .div-p-como p, .alimentacion-card p{
        font-size: 2.5rem;
    }
    .alimentacion-card img{
        height: 28vh;
    }
}

/* RESOLUCIÓN LG 1200px a 992px */
@media only screen and (max-width: 1200px) {
    .anclaH1 h1{
        font-size: 5rem;
    }
    .nav-link{
        font-size: 3rem;
    }
    .home-palabras h2, .div-h2-ejercicios h2, .div-h2-alimentacion h2, .div-elongacion h2, .div-h2-rutinas h2{
        font-size: 4rem;
    }
    .home-palabras p{
        font-size: 3rem;
    }
    .cards-sub-container h3, .div-elongacion h3, .div-h3-comidas h3, .div-h3-como h3, .div-rutinas div h3{
        font-size: 3rem;
    }
    .scroll-cards .card div p{
        font-size: 1.6rem;
    }
    .botones a{
        font-size: 2.5rem;
    }
    .alimentacion-card{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .div-p-como p, .alimentacion-card p{
        font-size: 2rem;
    }

    .logo{
        width: 10vw;
        height: 10vw;
    }

    .alimentacion-card img{
        height: 28vh;
    }

    .scroll-cards .card{
        width: 18%;
    }

    .scroll-cards .card div p{
        width: 90%;
    }

    /* RECETA DE LA SEMANA */

    .div-elongacion h2{
        text-align: center;
    }

    .div-iframe iframe{
        border: #FF8100 solid 10px;
        width: 70%;
        height: 37vw;
    }

    /* ALIMENTOS */

    #alimentacion{
        margin-bottom: 10%;
    }

    .div-p-como p{
        width: 45%;
    }

    .alimentacion-card{
        margin-bottom: 3.5%;
    }

    .alimentacion-card-reverse{
        display: flex;
        flex-direction: row-reverse;
    }

    .alimentacion-card-reverse p{
        margin-left: 5vw;
    }

    .alimentacion-card p{
        width: 45%;
    }

    .alimentacion-card-img{
        width: 45%;
        margin-left: 0;
    }

    .alimentacion-card-img img{
        width: 35vw;
        height: 25vw;
    }

    .p-rutinas{
        width: 60vw;
    }
    
    /* FOOTER */
    .footer-arriba div li{
        font-size: 2rem;
    }
    .form-label{
        font-size: 2rem;
    }
    .form-control{
        width: 23vw;
        font-size: 1.8rem;
    }
    .footer-redes p{
        font-size: 2rem;
    }
    .footer-redes .redes{
        margin-top: 2%;
    }
    .footer-redes .redes img{
        width: 3vw;
        height: 3vw;
    }
    .footer-redes .redes .youtube-footer{
        width: 4.5vw;
    }
}

/* RESOLUCIÓN MD 992px a 768px */
@media only screen and (max-width: 992px){
    .anclaH1 h1{
        font-size: 4.5rem;
    }
    .nav-link{
        font-size: 2.5rem;
    }
    .home-palabras h2, .div-h2-ejercicios h2, .div-h2-alimentacion h2, .div-elongacion h2, .div-h2-rutinas h2{
        font-size: 3.5rem;
    }
    .home-palabras p{
        font-size: 2.5rem;
    }
    .cards-sub-container h3, .div-elongacion h3, .div-h3-comidas h3, .div-h3-como h3, .div-rutinas div h3{
        font-size: 2.5rem;
    }
    .scroll-cards .card div p{
        font-size: 1.4rem;
    }
    .botones a{
        font-size: 2.2rem;
    }
    .footer-arriba div li{
        font-size: 1.7rem;
    }
    .form-label{
        font-size: 1.7rem;
    }
    .form-control{
        font-size: 1.5rem;
    }
    .footer-redes p{
        font-size: 1.7rem;
    }
    .btnCorreo{
        font-size: 1.7rem;
    }

    .cards-sub-container{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .scroll-cards{
        width: 90%;
        flex-wrap: wrap;
        justify-content: center;
        
    }
    .scroll-cards .card{
        width: 25%;
        margin: 1% 2%;
    }
    .alimentacion-card-img img{
        width: 40vw;
        height: 30vw;
    }
    .p-rutinas{
        width: 70vw;
    }
    .div-rutinas{
        width: 85vw;
    }
    .div-rutinas div{
        width: 25vw;
    }
}

/* RESOLUCIÓN SM 768px a 576px */
@media only screen and (max-width: 768px){
    .anclaH1 h1{
        font-size: 3.5rem;
    }
    .nav-link{
        font-size: 2rem;
    }
    .home-palabras h2, .div-h2-ejercicios h2, .div-h2-alimentacion h2, .div-elongacion h2, .div-h2-rutinas h2{
        font-size: 3rem;
    }
    .home-palabras p{
        font-size: 2rem;
    }
    .cards-sub-container h3, .div-elongacion h3, .div-h3-comidas h3, .div-h3-como h3, .div-rutinas div h3{
        font-size: 2rem;
    }
    .scroll-cards .card div p{
        font-size: 1.2rem;
    }
    .botones a{
        font-size: 2rem;
        padding: 1.5vw 2vw;
    }
    .div-p-como p, .alimentacion-card p{
        font-size: 1.5rem;
    }
    .p-rutinas{
        font-size: 1.4rem;
    }
    .footer-arriba div li{
        font-size: 1.4rem;
    }
    .form-label{
        font-size: 1.4rem;
    }
    .form-control{
        font-size: 1.3rem;
    }
    .footer-redes p{
        font-size: 1.4rem;
    }
    .btnCorreo{
        font-size: 1.4rem;
    }

    .scroll-cards{
        width: 70%;
    }
    .scroll-cards .card{
        width: 45%;
        margin: 1% 2%;
    }
    .div-h3-como, .div-h3-comidas{
        margin-bottom: 3%;
    }
    .div-p-como{
        margin-bottom: 3%;
        flex-direction: column;
    }
    .div-p-como p{
        font-size: 2.5vw;
        width: 100%;
        margin-bottom: 2%;
    }
    .alimentacion-card{
        flex-direction: column;
        margin-bottom: 8%;
    }
    .alimentacion-card p{
        width: 90%;
    }
    .alimentacion-card-img{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .alimentacion-card-img img{
        width: 60vw;
        height: 50vw;
    }
    .div-rutinas{
        width: 90vw;
    }
    .div-rutinas div{
        width: 40vw;
    }
    .div-rutinas div img{
        width: 20vw;
    }
}

/* RESOLUCIÓN XS 576px */
@media only screen and (max-width: 576px){
    .anclaH1 h1{
        font-size: 3rem;
    }
    .nav-link{
        font-size: 1.5rem;
    }
    .home-palabras h2, .div-h2-ejercicios h2, .div-h2-alimentacion h2, .div-elongacion h2, .div-h2-rutinas h2{
        font-size: 2.5rem;
    }
    .home-palabras p{
        font-size: 1.5rem;
    }
    .cards-sub-container h3, .div-elongacion h3, .div-h3-comidas h3, .div-h3-como h3, .div-rutinas div h3{
        font-size: 1.5rem;
    }
    .scroll-cards .card div p{
        font-size: 1rem;
    }
    .botones a{
        font-size: 1.7rem;
        padding: 1.5vw 2vw;
    }
    .div-p-como p, .alimentacion-card p{
        font-size: 1.2rem;
    }
    .p-rutinas{
        font-size: 1.2rem;
    }
    .footer-arriba div li{
        font-size: 1.2rem;
    }
    .form-label{
        font-size: 1.2rem;
    }
    .form-control{
        font-size: 1.1rem;
    }
    .footer-redes p{
        font-size: 1.2rem;
    }
    .btnCorreo{
        font-size: 1.2rem;
    }

    .home-imagen{
        display: none;
    }

    .scroll-cards{
        width: 80%;
    }
    .scroll-cards .card{
        width: 60%;
        margin-bottom: 2vw;
    }
    .scroll-cards .card div p{
        width: 100%;
        padding: 1vw 0;
    }
    .div-rutinas{
        justify-content: center;
    }
    .div-rutinas div{
        width: 60%;
    }
    .div-rutinas div img{
        width: 25vw;
    }

}